/* Add this inside your CSS file */
.form-control {
  font-family: arial;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  font: inherit;
  color: currentColor;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  border: 1px solid #000;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

.form-control+.form-control {
  margin-top: 1em;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.85em;
  height: 0.85em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #00BF7D;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}