---
import BaseHead, { type Props as HeadProps } from "../components/BaseHead.astro"
import NavBar from "../components/NavBar.tsx"
import Hero from '../components/Hero.astro';
import ScrollToTopButton from '../components/ScrollToTopButton.tsx';

export type Props = HeadProps

const { ...head } = Astro.props
---

<!DOCTYPE html>
<html
	lang="fr"
	class=""
>
	<head>
		<BaseHead {...head} />
		<script is:inline src="/html2pdf.bundle.min.js"></script>
	</head>
	<body>
		<div class="">
			<NavBar></NavBar>
			<Hero></Hero>
			<ScrollToTopButton client:load></ScrollToTopButton>
			<main id="main" class="relative z-10 flex flex-1 flex-col mx-24">
				<slot />
			</main>
		</div>
	</body>
</html>
