---

---

<div class="flex flex-col lg:flex-row items-center lg:mx-72 justify-between p-6 bg-white rounded-lg">
    <div class="flex-1">
        <img
                src="/audit-icon.svg"
                alt="Auto-diagnostic de l’écoconception d’un site internet"
                class="my-12"
        />
    </div>
    <div class="flex-1 max-w-2xl space-y-4 p-4">
        <h2 class="text-2xl font-bold">
            Auto-diagnostic de l’écoconception d’un site internet
        </h2>
        <p>
            Notre outil d'auto-évaluation vous aide à évaluer l'écoconception de
            votre service numérique en utilisant le RGESN, un référentiel
            d'écoconception.
        </p>
        <p>
            Répondez à quelques questions simples pour mesurer l'écoconception
            d’un service numérique et exportez les résultats en PDF.
        </p>
        <p>
            Pour chaque question, choisissez parmi 4 options : À évaluer,
            Conforme, Non conforme, ou Non applicable. N'oubliez pas de laisser
            un commentaire pour expliquer vos réponses.
        </p>
    </div>
</div>
<div class="bg-black h-[1px] w-full"></div>